<!-- PAGE HEADER -->
<section class="parallax parallax-4" style="  background-image:url('<%= image_path('Rocket_Elevator_Assets/Residential_page/elavator1.jpg')  %>')">
  <div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>
</section>
<!-- /PAGE HEADER -->

<hr class="m-20" /><!-- 1px line separator -->

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 box-border-shadow p-20">
        <h2 class="fs-13 fw-600 mb-15">Edit <%= resource_name.to_s.humanize %></h2>

        <div class="row">

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>

              <div class="field form-label-group">
                <div class="fs-12 fw-600">
                  <%= f.label :email %><br />
                </div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="field form-label-group">
                <div class="fs-12 fw-600">
                  <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                </div>
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
                <% if @minimum_password_length %>
                  <br />
                  <em><%= @minimum_password_length %> characters minimum</em>
                <% end %>
              </div>

              <div class="field form-label-group">
                <div class="fs-12 fw-600">
                  <%= f.label :password_confirmation %><br />
                </div>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
              </div>

              <div class="field form-label-group">
                <div class="fs-12 fw-600">
                  <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                </div>
                <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
              </div>

              <div class="actions">
                <%= f.submit "Update", class:"btn btn-lg btn-primary btn-block text-uppercase"  %>
              </div>
            <% end %>

            <h3>Cancel my account</h3>

            <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-primary" %></p>

            <%= link_to "Back", :back %>
          </div>
        </div>
      <div>
    </div>
  </div>
</div>


