
		<!-- wrapper -->
		<div id="wrapper">


			<!-- PAGE HEADER -->
			<section class="page-header page-header-xlg parallax parallax-4" style="background-image:url('<%= image_path('Rocket_Elevator_Assets/Commercial_Page/AdobeStock_987654321.jpg') %>')">
				<div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="bold font-raleway wow fadeInUp animated">
						<h2 class="fs-55 fw-400">COMMERCIAL SERVICES</h2>
						<a class="btn btn-outline-danger" href="index.html#contact">CONTACT US <i class="fa fa-angle-right"></i></a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-outline-danger" href="<%= quotes_path %>">GET A SUBMISSION <i class="fa fa-angle-right"></i></a>						
					</div>

				</div>
			</section>
			<!-- /PAGE HEADER -->			

			


			<!-- Description -->
			<section>
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h1>Corporate Service</h1>
					</div>

					<div class="row">

						<div class="col-sm-4">
                        <%= image_tag("Rocket_Elevator_Assets/Commercial_Page/AdobeStock_112233445.jpg", :class => "img-fluid", alt: "Corporate Project") %>
						</div>
					
						<div class="col-md-4">
							
							<div class="heading-title heading-border-bottom heading-color text-center">
								<h3>The performance that you can see!</h3>
							</div>
							
							<p>Manage your portfolio online or on the go with our RocketBoard mobile app..</p>

						</div>

						<div class="col-sm-4">
							 <%= image_tag("Rocket_Elevator_Assets/Commercial_Page/AdobeStock_885566447.jpg", :class => "img-fluid", alt: "Corporate Project") %>
						</div>

					</div>
					
				</div>
			</section>
			<!-- /Description -->




			<!-- PARALLAX -->
			<section class="parallax parallax-2" style="background-image: url('<%= image_path('n4.png') %>');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<!-- Counters -->
					<div class="row countTo-sm text-center">

						<div class="col-6 col-sm-3 col-6">
							<i class="ico-lg ico-transparent et-happy"></i>
							<div class="block fs-50" style="color: #000000;">
								<strong class="countTo fs-50" data-speed="3000">1101</strong>
							</div>
							<h3 class="fs-15 mt-10 mb-0">HAPPY CLIENTS</h3>
						</div>

						<div class="col-6 col-sm-3 col-6">
							<i class="ico-lg ico-transparent et-chat"></i>
							<div class="block fs-50" style="color: #fdfdfd;">
								<strong class="countTo fs-50" data-speed="3000">100</strong> %
							</div>
							<h3 class="fs-15 mt-10 mb-0">SUPPORT</h3>
						</div>

						<div class="col-6 col-sm-3 col-6">
							<i class="ico-lg ico-transparent et-flag"></i>
							<div class="block fs-50" style="color: #001a4b;">
								<strong class="countTo fs-50" data-speed="3000">23</strong>
							</div>
							<h3 class="fs-15 mt-10 mb-0">AWARDS</h3>
						</div>

						<div class="col-6 col-sm-3 col-6">
							<i class="ico-lg ico-transparent et-puzzle"></i>
							<div class="block fs-50" style="color: #3a0000;">
								<strong class="countTo fs-50" data-speed="3000">100</strong> %
							</div>
							<h3 class="fs-15 mt-10 mb-0">DELIVERY</h3>
						</div>

					</div>
					<!-- /Counters -->

				</div>

			</section>
			<!-- /PARALLAX -->




			<!-- SOLUTIONS -->
			<section>
				<div class="container">

					<header class="text-center">
						<h1 class="m-1">Solutions</h1>
						<p class="font-lato fs-20 m-0">No matter how old your property, you can compete with mid- to high-rise buildings of today by employing The PORT Technology.</p>
					</header>
					
					<hr />


					<div class="row mt-80">

						<div class="col-lg-4 col-md-4 push-md-4 text-center order-md-2 order-lg-2">
						
                        <%= image_tag("Rocket_Elevator_Assets/Commercial_Page/AdobeStock_665544228.jpg", :class => "img-fluid", alt: "") %>

						</div>

						<div class="col-lg-4 col-md-4 col-sm-6 order-md-1 order-lg-1">

							<div class="box-icon box-icon-right">
								<a class="box-icon-title" href="#commercial-contact">
									<i class="fa fa-cogs"></i>
									<h2>Technology</h2>
								</a>
								<p>The process can quickly and easily convert/upgrade conventional controls to The PORT Technology destination dispatch, and can be implemented as the first step...</p>
							</div>

							<div class="box-icon box-icon-right">
								<a class="box-icon-title" href="#commercial-contact">
									<i class="fa fa-rocket"></i>
									<h2>Interface</h2>
								</a>
								<p>Destination Interface is cost-effective, with immediate performance improvements and personalization benefits, with minimal downtime...</p>
							</div>

						</div>

						<div class="col-lg-4 col-md-4 col-sm-6 order-md-3 order-lg-3">

							<div class="box-icon box-icon-left">
								<a class="box-icon-title" href="#commercial-contact">
									<i class="fa fa-flash"></i>
									<h2>Economically</h2>
								</a>
								<p>The unique Destination Interface modernization process allows us to bring virtually any brand of equipment to The PORT Technology quickly and economically...</p>
							</div>

							<div class="box-icon box-icon-left">
								<a class="box-icon-title" href="#commercial-contact">
									<i class="fa fa-tablet"></i>
									<h2>Control</h2>
								</a>
								<p>Destination Interface has been implemented around the globe on most every type of control...</p>
							</div>
						</div>
						
					</div>


				</div>
			</section>
			<!-- SOLUTIONS -->




			<!-- Parallax -->
			<section id="commercial-contact" class="parallax parallax-1" style="background-image: url('<%= image_path('33-min.jpg') %>');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-300">For more information...</h2>
						<a class="btn btn-outline-info" href="<%= quotes_path %>">GET A SUBMISSION <i class="fa fa-angle-right"></i></a> 
						&nbsp; OR &nbsp; 
						<a class="btn btn-outline-info" href="index.html#contact">CONTACT US <i class="fa fa-angle-right"></i></a>						
					</div>

				</div>
			</section>
			<!-- /Parallax -->





		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


	

			


