
<!-- REVOLUTION SLIDER -->
	<div class="slider fullwidthbanner-container roundedcorners">				
		<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
			<ul class="hide">
			
				<!-- SLIDE  -->
					<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="600"  data-saveperformance="off"  data-title="Rocket Elevators">
					<!-- MAIN IMAGE -->
					<%= image_tag("Rocket_Elevator_Assets/AdobeStock_669955441.jpg", alt: "Rocket Elevator Services", "data-bgposition": "center top", "data-bigfit": "cover", "data-bg-repeat": "no-repeat") %>

					<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

					<div class="tp-caption white_big skewfromright tp-resizeme"
						data-x="20"
						data-y="130" 
						data-speed="400"
						data-start="1500"
						data-easing="Power3.easeInOut"
						data-splitin="words"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="600"
						style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							Rocket Elevators
					</div>

					<div class="tp-caption content_text_center skewfromright tp-resizeme"
						data-x="20"
						data-y="250" 
						data-speed="500"
						data-start="2000"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="600"

						style="z-index: 3; font-size:30px; color:#fff; font-weight:300; text-shadow:none;">
							Our aim is to exceed your expectations,<br>
							offering maximum reliability.
					</div>

					<div class="tp-caption sfb tp-resizeme"
						data-x="20"
						data-y="380" 
						data-speed="300"
						data-start="2500"
						data-easing="Power3.easeInOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="300"

						style="z-index: 5; max-width: auto; max-height: auto; white-space: nowrap;">
							<a class="btn btn-outline-info btn-lg" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							<a class="btn btn-outline-info btn-lg" href="<%= quotes_path %>">GET A SUBMISSION &nbsp; <i class="fa fa-angle-right"></i></a>
					</div>
				</li>

				<!-- SLIDE  -->
				<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Residential Buildings">
					<!-- MAIN IMAGE -->
					<%= image_tag("Rocket_Elevator_Assets/AdobeStock_112233448.jpg", alt: "Rocket Elevator Residential", "data-bgposition": "center top", "data-bigfit": "cover", "data-bg-repeat": "no-repeat" ) %>

					<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

					<div class="tp-caption font-roboto skewfromleft tp-resizeme"
						data-x="50"
						data-y="150" 
						data-speed="500"
						data-start="1500"
						data-easing="Cubic.easeOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
							Residential Buildings
					</div>

					<div class="tp-caption skewfromrightshort tp-resizeme"
						data-x="50"
						data-y="300" 
						data-speed="500"
						data-start="1000"
						data-easing="easeInCirc"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
							Rocket Elevators elevators are ideal for your residential building,<br />
							since the small until high-rise facilities...
					</div>

					<div class="tp-caption sfb tp-resizeme"
						data-x="50"
						data-y="410" 
						data-speed="500"
						data-start="1500"
						data-easing="Power3.easeIn"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="1"
						data-endelementdelay="0.1"
						data-endspeed="500"

						style="z-index: 4; max-width: auto;">
							<a class="btn btn-outline-danger btn-lg" href="<%= residential_path %>">READ MORE &nbsp; <i class="fa fa-angle-right"></i></a>
					</div>
				</li>

				<!-- SLIDE  -->
				<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" data-title="Corporate Buildings">
					<!-- MAIN IMAGE -->
					<%= image_tag("Rocket_Elevator_Assets/AdobeStock_170843598.jpg", alt: "Rocket Elevator Commercial", "data-bgposition": "center top", "data-bigfit": "cover", "data-bg-repeat": "no-repeat" ) %>

					<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

					<div class="tp-caption font-roboto skewfromleft tp-resizeme"
						data-x="515"
						data-y="150" 
						data-speed="500"
						data-start="1500"
						data-easing="Cubic.easeOut"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
						Corporate Buildings
					</div>

					<div class="tp-caption skewfromrightshort tp-resizeme"
						data-x="525"
						data-y="300" 
						data-speed="500"
						data-start="1000"
						data-easing="easeInCirc"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="0.1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						style="z-index: 3; font-size:25px; color:#fff; font-weight:300; text-shadow:none;">
							Rocket Elevators has a full range of mobility solutions<br>and destination control systems with attractive designs
					</div>

					<div class="tp-caption sfb tp-resizeme"
						data-x="720"
						data-y="410" 
						data-speed="500"
						data-start="1500"
						data-easing="Power3.easeIn"
						data-splitin="none"
						data-splitout="none"
						data-elementdelay="1"
						data-endelementdelay="0.1"
						data-endspeed="500"
						
						style="z-index: 4; max-width: auto;">
							<a class="btn btn-outline-info btn-lg" href="<%= commercial_path %>">READ MORE &nbsp; <i class="fa fa-angle-right"></i></a>
					</div>
				</li>

			</ul>

		</div>
	</div>
<!-- /REVOLUTION SLIDER -->

<hr class="m-0" /><!-- 1px line separator -->

<!-- BUTTON CALLOUT -->
<div class="callout alert alert-border mt-1 mb-1">
	<div class="row">

		<div class="col-md-7 col-sm-8"><!-- left text -->
			<h3>Did <strong>Rocket Elevators</strong> convinced you?</h3>
			<p class="font-lato fs-17">
				We truly care about our users and our product.
			</p>
		</div><!-- /left text -->

		
		<div class="col-md-4 col-sm-4 text-right"><!-- right btn -->
			<a href="#contact" rel="nofollow" target="" class="btn btn-outline-danger">CONTACT US</a>
		</div><!-- /right btn -->			
	</div>			
</div>
<!-- /BUTTON CALLOUT -->

<!-- Services -->
<section id="services">
	<div class="container">

		<div class="heading-title heading-dotted text-center">
			<h1>Services</h1>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<%= image_tag("Rocket_Elevator_Assets/AdobeStock_445566995.jpg", :alt => "Portfolio Elevator image", :class => 'img-fluid') %>
				<h3 class="mt-10">Portfolio</h3>
				<a href="#portfolio" class="btn btn-default">READ MORE</a>
			</div>

			<div class="col-sm-4">
				<%= image_tag("Rocket_Elevator_Assets/AdobeStock_72034307.jpg", :alt => "Residential Elevator image", :class => 'img-fluid') %>
				<h3 class="mt-10">Residential Services</h3>							
				<a href="<%= residential_path %>" class="btn btn-default">READ MORE</a>
			</div>

			<div class="col-sm-4">
				<%= image_tag("Rocket_Elevator_Assets/AdobeStock_146216308.jpg", :alt => "Corporate Elevator image", :class => 'img-fluid') %>
				<h3 class="mt-10">Corporate Services</h3>							
				<a href="<%= commercial_path %>" class="btn btn-default">READ MORE</a>
			</div>

		</div>

	</div>
</section>
<!-- /Services -->

<!-- Parallax -->
<section class="parallax parallax-1" style="background-image: url(<%= image_path('Rocket_Elevator_Assets/AdobeStock_162479912.jpg')%>);">
	<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

	<div class="container">

		<div class="text-center">
			<h2 class="fs-40 fw-300">Designing &amp; Building Elevators Since 1976</h2>
			<a class="btn btn-outline-info" href="<%= quotes_path %>">GET A SUBMISSION <i class="fa fa-angle-right"></i></a> 
			&nbsp; OR &nbsp; 
			<a class="btn btn-outline-info" href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
		</div>

	</div>
</section>
<!-- /Parallax -->

<!-- PORTFOLIO -->
<section id="portfolio">
	<div class="container">

		<div class="heading-title heading-dotted text-center">
			<h1>Portfolio</h1>
		</div>

		<div class="text-center">
			<ul class="nav nav-pills mix-filter mb-60">
				<li data-filter="all" class="filter active"><a href="#">All</a></li>
				<li data-filter="awards" class="filter"><a href="#">Awards</a></li>
				<li data-filter="residential" class="filter"><a href="#">Residential Projects</a></li>
				<li data-filter="corporate" class="filter"><a href="#">Corporate Projects</a></li>
			</ul>
		</div>

	</div>

	<div id="portfolio" class="portfolio-nogutter">
		<div class="row mix-grid">
			<div class="col-md-3 col-sm-3 mix awards"><!-- Award1 -->
				<div class="item-box">
					<figure>					
						<%= image_tag("Rocket_Elevator_Assets/Awards/award1.jpg", :alt => "Award Brand of the Year", :class => "img-fluid", :width => "600", :height => "399") %>
					</figure>
					<div class="item-box-desc">
						<h3>Brand of the Year</h3>
						<ul class="list-inline categories m-0">                                            
							<li><a href="https://goo.gl/maps/ooMEdJLXWaJncokKA" target ="_blank">Mumbai</a></li>
							<li><a href="https://goo.gl/maps/3ecZ4zCUndE424FB6"target="_blank">India</a></li>
						</ul>
					</div>
				</div>
			</div><!-- Award1 -->


			<div class="col-md-3 col-sm-3 mix residential"><!-- Residential1 -->

				<div class="item-box">
					<figure>						
						<%= image_tag("Rocket_Elevator_Assets/Residential/Residential1.jpg", :alt => "Residential Project", :class => "img-fluid", :width => "600", :height => "399") %>
					</figure>

					<div class="item-box-desc">
						<h3>Residential Project</h3>
						<ul class="list-inline categories m-0">
							<li><a href="https://goo.gl/maps/gAvK2iZWQ9zwANMHA"target="_blank">Bangkok</a></li>
							<li><a href="https://goo.gl/maps/e9zTaX2dreviGKbK8"target="_blank">Thailand</a></li>
						</ul>
					</div>

				</div>

			</div><!-- Residential1 -->


			<div class="col-md-3 col-sm-3 mix corporate"><!-- Corporate1 -->

				<div class="item-box">
					<figure>
						<%= image_tag("Rocket_Elevator_Assets/Corporate/Corporate1.jpg", :alt => "Commercial Project", :class => "img-fluid", :width => "600", :height => "399") %>
					</figure>

					<div class="item-box-desc">
						<h3>Corporate Project</h3>
						<ul class="list-inline categories m-0">
							<li><a href="https://goo.gl/maps/Ewj1RHoLjYBcox5M8"target="_blank">Buenos Aires</a></li>
							<li><a href="https://goo.gl/maps/wAU3K22uyrYj85W69"target="_blank">Argentina</a></li>
						</ul>
					</div>

				</div>

			</div><!-- Corporate1 -->


			<div class="col-md-3 col-sm-3 mix awards"><!-- Award2 -->

				<div class="item-box">
					<figure>
						<%= image_tag("Rocket_Elevator_Assets/Awards/award2.jpg", :alt => "Awards Manufacturer of the Year", :class => "img-fluid", :width => "600", :height => "399") %>
					</figure>

					<div class="item-box-desc">
						<h3>Manufacturer of the Year</h3>
						<ul class="list-inline categories m-0">
							<li><a href="https://goo.gl/maps/4L2Q1yPRaF3HVPfRA"target="_blank">New York City</a></li>
							<li><a href="https://goo.gl/maps/M3t2i7FCExpbVHD56"target="_blank">USA</a></li>
						</ul>
					</div>

				</div>

			</div><!-- Award2 -->


			<div class="col-md-3 col-sm-3 mix residential"><!-- Residential2 -->

				<div class="item-box">
					<figure>
						<%= image_tag("Rocket_Elevator_Assets/Residential/Residential2.jpg", :alt => "Residential Project", :class => "img-fluid", :width => "600", :height => "399") %>
					</figure>

					<div class="item-box-desc">
						<h3>Residential Project</h3>
						<ul class="list-inline categories m-0">
							<li><a href="https://goo.gl/maps/NVsdjz9XucGs7fUZ9"target="_blank">Shenzhen</a></li>
							<li><a href="https://goo.gl/maps/9w3wXrDLsZFwZpoa6"target="_blank">China</a></li>
						</ul>
					</div>

				</div>

			</div><!-- Residential2 -->


			<div class="col-md-3 col-sm-3 mix corporate"><!-- Corporate2 -->

				<div class="item-box">
					<figure>
						<%= image_tag("Rocket_Elevator_Assets/Corporate/Corporate2.jpg", :alt => "Corporate Project", :class => "img-fluid", :width => "600", :height => "399") %>
					</figure>

					<div class="item-box-desc">
						<h3>Corporate Project</h3>
						<ul class="list-inline categories m-0">
							<li><a href="https://goo.gl/maps/pWZ8o93FtVVbZAh36"target="_blank">Hong Kong</a></li>
							<li><a href="https://goo.gl/maps/9w3wXrDLsZFwZpoa6"target="_blank">China</a></li>
						</ul>
					</div>

				</div>

			</div><!-- Corporate2 -->


			<div class="col-md-3 col-sm-3 mix awards"><!-- Award3 -->

				<div class="item-box">
					<figure>
						<%= image_tag("Rocket_Elevator_Assets/Awards/award3.jpg", :alt => "Awards Architizer A+", :class => "img-fluid", :width => "600", :height => "399") %>
					</figure>

					<div class="item-box-desc">
						<h3>Architizer A+</h3>
						<ul class="list-inline categories m-0">
							<li><a href="https://goo.gl/maps/iAndtBp3SwtGmKZd7"target="_blank">Lima</a></li>
							<li><a href="https://goo.gl/maps/SxHv1xmLKTiVzT59A"target="_blank">Peru</a></li>
						</ul>
					</div>

				</div>

			</div><!-- Award3 -->


			<div class="col-md-3 col-sm-3 mix residential"><!-- Residential3 -->

				<div class="item-box">
					<figure>
						<%= image_tag("Rocket_Elevator_Assets/Residential/Residential3.jpg", :alt => "Residential Project", :class => "img-fluid", :width => "600", :height => "399") %>
					</figure>

					<div class="item-box-desc">
						<h3>Residential Project</h3>
						<ul class="list-inline categories m-0">
							<li><a href="https://goo.gl/maps/atauFFvMoKD14k1N7"target="_blank">Dublin</a></li>
							<li><a href="https://goo.gl/maps/yNEf6bBvM9FjyesV8"target="_blank">Ireland</a></li>
						</ul>
					</div>

				</div>

			</div><!-- /Residential3 -->


			<div class="col-md-3 col-sm-3 mix corporate"><!-- Corporate3 -->

				<div class="item-box">
					<figure>
						<%= image_tag("Rocket_Elevator_Assets/Corporate/Corporate3.jpg", :alt => "Corporate Project", :class => "img-fluid", :width => "600", :height => "399") %>
					</figure>

					<div class="item-box-desc">
						<h3>Corporate Project</h3>
						<ul class="list-inline categories m-0">
							<li><a href="https://goo.gl/maps/gMmxWgQHnsiRWWvR6"target="_blank">Sao Paulo</a></li>
							<li><a href="https://goo.gl/maps/67bUSUkRuxZNc2Pu9"target="_blank">Brazil</a></li>
						</ul>
					</div>

				</div>

			</div><!-- Corporate3 -->


			<div class="col-md-3 col-sm-3 mix awards"><!-- Award4 -->

				<div class="item-box">
					<figure>
						<%= image_tag("Rocket_Elevator_Assets/Awards/award4.jpg", :alt => "Awards Architectural Record's", :class => "img-fluid", :width => "600", :height => "399") %>
						</figure>

					<div class="item-box-desc">
						<h3>Architectural Record's</h3>
						<ul class="list-inline categories m-0">
							<li><a href="https://goo.gl/maps/QiXncE8NkxYAn6WT7"target="_blank">Berlin</a></li>
							<li><a href="https://goo.gl/maps/3kLYUrLa3rXPMAoq9"target="_blank">Germany</a></li>
						</ul>
					</div>

				</div>

			</div><!-- Award4 -->


			<div class="col-md-3 col-sm-3 mix residential"><!-- Residential4 -->

				<div class="item-box">
					<figure>
						<%= image_tag("Rocket_Elevator_Assets/Residential/Residential4.jpg", :alt => "Residential Project", :class => "img-fluid", :width => "600", :height => "399") %>
						</figure>

					<div class="item-box-desc">
						<h3>Residential Project</h3>
						<ul class="list-inline categories m-0">
							<li><a href="https://goo.gl/maps/ConbwF35AQ7oeY9h8"target="_blank">Brussels</a></li>
							<li><a href="https://goo.gl/maps/P2Pf8fJLDxKqPw7b9"target="_blank">Belgium</a></li>
						</ul>
					</div>

				</div>

			</div><!-- /Residential4 -->


			<div class="col-md-3 col-sm-3 mix corporate"><!-- Corporate4 -->

				<div class="item-box">
					<figure>
						<%= image_tag("Rocket_Elevator_Assets/Corporate/Corporate4.jpg", :alt => "Corporate Project", :class => "img-fluid", :width => "600", :height => "399") %>
					</figure>
					<div class="item-box-desc">
						<h3>Corporate Project</h3>
						<ul class="list-inline categories m-0">
							<li><a href="https://goo.gl/maps/bbhcmo81gr2hYsWx5"target="_blank">Toronto</a></li>
							<li><a href="https://goo.gl/maps/tDGepJbcfyUo2Cov5"target="_blank">Canada</a></li>
						</ul>
					</div>

				</div>

			</div><!-- Corporate4 -->
		</div>


	</div>
</section>
<!-- /PORTFOLIO -->

<!-- Testimonials -->
<section id="team" class="section-xs dark">
	<div class="container">

		<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
			<div id="CEO" class="testimonial">
				<figure>
					<%= image_tag("Rocket_Elevator_Assets/People/CEO.jpg", :alt => "CEO Photography", :class => 'rounded') %>
				</figure>
				<div class="testimonial-content p-0">
					<p class="lead">"Diversification and globalization are the keys to the future."</p>
					<cite>
						David Amyot
						<span>CEO of the Company</span>
					</cite>
				</div>
			</div>
			<div id="employee" class="testimonial">
				<figure>
					<%= image_tag("Rocket_Elevator_Assets/People/employee-of-the-month.jpg", :alt => "Employee of the month Photography", :class => 'rounded') %>
				</figure>
				<div class="testimonial-content p-0">
					<p class="lead">"Stand together as a team. With integrity, vision, and determination together you will succeed where others cannot."</p>
					<cite>
						Cristiane Santiago
						<span>Developer Full Stack</span>
					</cite>
				</div>
			</div>
			<div id="employee" class="testimonial">
				<figure>
					<%= image_tag("Rocket_Elevator_Assets/People/employee-of-the-month-Abdul.jpg", :alt => "Employee of the month Photography", :class => 'rounded') %>
				</figure>
				<div class="testimonial-content p-0">
					<p class="lead">"Talent wins games, but only teamwork wins championships."</p>
					<cite>
						Abdul Akeeb
						<span>Developer Full Stack</span>
					</cite>
				</div>
			</div>
			<div id="employee" class="testimonial">
				<figure>
					<%= image_tag("Rocket_Elevator_Assets/People/employee-of-the-month-Ahsan.jpg", :alt => "Employee of the month Photography", :class => 'rounded') %>
				</figure>
				<div class="testimonial-content p-0">
					<p class="lead">"If you want to go fast, go alone. If you want to go far, go as a group."</p>
					<cite>
						Ahsan Syed 
						<span>Developer Full Stack</span>
					</cite>
				</div>
			</div>
			<div id="employee" class="testimonial">
				<figure>
					<%= image_tag("Rocket_Elevator_Assets/People/employee-of-the-month-Lionel.jpg", :alt => "Employee of the month Photography", :class => 'rounded') %>
				</figure>
				<div class="testimonial-content p-0">
					<p class="lead">"When we work collectively towards a goal, we achieve the impossible."</p>
					<cite>						
						Lionel Niyongabire
						<span>Developer Full Stack</span>
					</cite>
				</div>
			</div>
			<div id="employee" class="testimonial">
				<figure>
					<%= image_tag("Rocket_Elevator_Assets/People/employee-of-the-month-Eric.jpg", :alt => "Employee of the month Photography", :class => 'rounded') %>
				</figure>
				<div class="testimonial-content p-0">
					<p class="lead">"Integrity is the essence of every business</p>
					<cite>						
						Eric Moran
						<span>Developer Full Stack</span>
					</cite>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- /Testimonials -->

<!-- News -->
<section id="news">
	<div class="container">

		<div class="heading-title heading-dotted text-center">
			<h1>News & Articles</h1>
		</div>
		
		<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
			<div class="img-hover"><!--News1 -->
				<a href="https://elevatortoday.com/2020/06/27/schindler-cleancall/" target="blank">
					<%= image_tag("Rocket_Elevator_Assets/News/News1.jpg", :alt => "News Elevator today", :class => 'img-fluid') %>
				</a>

				<h4 class="text-left mt-20"><a href="https://elevatortoday.com/2020/06/27/schindler-cleancall/" target="blank">Schindler</a></h4>
				<p class="text-left">Touchless Call and service buttons. <br>&nbsp;</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li>
						<i class="fa fa-calendar"></i> 
						27th Jun 2020
					</li>
				</ul>
			</div>

			<div class="img-hover"><!--News2 -->
				<a href="https://www.bbc.com/news/uk-england-sussex-43310044" target="blank">
					<%= image_tag("Rocket_Elevator_Assets/News/News2.jpg", :alt => "News bbc", :class => 'img-fluid') %>
				</a>

				<h4 class="text-left mt-20"><a href="https://www.bbc.com/news/uk-england-sussex-43310044" target="blank">Brighton's i360</a></h4>
				<p class="text-left">Brighton i360 not the 'world's tallest moving observation tower.</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li>
						<i class="fa fa-calendar"></i> 
						7th Mar 2018
					</li>
				</ul>
			</div>

			<div class="img-hover"><!--News3 -->
				<a href="https://www.ctvnews.ca/health/coronavirus/new-normal-elevators-moving-touchless-mobile-and-sideways-1.5045643" target="blank">
					<%= image_tag("Rocket_Elevator_Assets/News/News3.jpg", :alt => "News ctvnews", :class => 'img-fluid') %>
				</a>

				<h4 class="text-left mt-20"><a href="https://www.ctvnews.ca/health/coronavirus/new-normal-elevators-moving-touchless-mobile-and-sideways-1.5045643" target="blank">New Normal</a></h4>
				<p class="text-left">Elevators moving touchless, mobile and sideways.</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li>
						<i class="fa fa-calendar"></i> 
						31st Jul 2020
					</li>
				</ul>
			</div>

			<div class="img-hover"><!--News4 -->
				<a href="https://www.buildings.com/articles/27517/3-rising-trends-watch-elevator-technology" target="blank">
					<%= image_tag("Rocket_Elevator_Assets/News/News4.jpg", :alt => "News buildings", :class => 'img-fluid') %>
				</a>

				<h4 class="text-left mt-20"><a href="https://www.buildings.com/articles/27517/3-rising-trends-watch-elevator-technology" target="blank">3 Rising Trends to Watch in Elevator</a></h4>
				<p class="text-left">The elevator industry is in the midst of several game-changing..</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li>
						<i class="fa fa-calendar"></i> 
						5th Aug 2019
					</li>
				</ul>
			</div>

			<div class="img-hover"><!--News5 -->
				<a href="https://www.bbc.com/news/av/technology-30918896" target="blank">
					<%= image_tag("Rocket_Elevator_Assets/News/News5.jpg", :alt => "News bbc", :class => 'img-fluid') %>
				</a>
				<h4 class="text-left mt-20"><a href="https://www.bbc.com/news/av/technology-30918896" target="blank">Technology helps lifts scale new heights</a></h4>
				<p class="text-left">Lift maker Kone has developed an ultra-strong...</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li>
						<i class="fa fa-calendar"></i> 
						27th Jan 2015
					</li>
				</ul>
			</div>

			<div class="img-hover"><!--News6 -->
				<a href="https://www.nytimes.com/2020/09/23/business/china-economy-elevators-aging.html" target="blank">
					<%= image_tag("Rocket_Elevator_Assets/News/News6.jpg", :alt => "News nytimes", :class => 'img-fluid') %>
				</a>
				<h4 class="text-left mt-20"><a href="https://www.nytimes.com/2020/09/23/business/china-economy-elevators-aging.html" target="blank">As China Ages, a Push to Add Elevators...</a></h4>
				<p class="text-left">China’s premier wants to retrofit three million...</p>
				<ul class="text-left fs-12 list-inline list-separator">
					<li>
						<i class="fa fa-calendar"></i> 
						23rd Sept 2020
					</li>
				</ul>
			</div>
		</div>

	</div>
</section>
<!-- /News -->

<!-- Clients -->
<section id="clients" class="alternate">
	<div class="container">

		<div class="heading-title heading-dotted text-center">
			<h1>Our Clients</h1>
		</div>

		<ul class="row clients-dotted list-inline"><!-- Client1 -->
			<li class="col-md-3 col-sm-3 col-6">
				<a href="https://www.unicef.org/" target="_blank">
					<%= image_tag("Rocket_Elevator_Assets/Customer/customer1.png", :alt => "Unicef-United Nations International Children's Emergency Fund", :class => 'img-fluid') %>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6"><!-- Client2 -->
				<a href="https://www.lenovo.com/" target="_blank">
				<%= image_tag("Rocket_Elevator_Assets/Customer/customer2.png", :alt => "Legend Holdings Corporation", :class => 'img-fluid') %>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6"><!-- Client3 -->
				<a href="https://www.paypal.com/" target="_blank">
					<%= image_tag("Rocket_Elevator_Assets/Customer/customer3.png", :alt => "PayPal Holdings, Inc.", :class => 'img-fluid') %>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6"><!-- Client4 -->
				<a href="https://www.nestle.com/" target="_blank">
					<%= image_tag("Rocket_Elevator_Assets/Customer/customer4.png", :alt => "Nestlé S.A.", :class => 'img-fluid') %>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6"><!-- Client5 -->
				<a href="https://www.huawei.com/" target="_blank">
					<%= image_tag("Rocket_Elevator_Assets/Customer/customer5.png", :alt => "Huawei Technologies Co.", :class => 'img-fluid') %>					
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6"><!-- Client6 -->
				<a href="https://about.google/" target="_blank">
					<%= image_tag("Rocket_Elevator_Assets/Customer/customer6.png", :alt => "GOOGLE: Global Organization of Oriented Group", :class => 'img-fluid') %>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6"><!-- Client7 -->
				<a href="https://www.ibm.com/" target="_blank">
					<%= image_tag("Rocket_Elevator_Assets/Customer/customer7.png", :alt => "International Business Machines Corporation (IBM)", :class => 'img-fluid') %>
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6"><!-- Client8 -->
				<a href="https://www.xerox.com/" target="_blank">
					<%= image_tag("Rocket_Elevator_Assets/Customer/customer8.png", :alt => "Xerox Holdings Corporation", :class => 'img-fluid') %>					
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6"><!-- Client9 -->
				<a href="https://www.spacex.com/" target="_blank">
					<%= image_tag("Rocket_Elevator_Assets/Customer/customer9.png", :alt => "Space Exploration Technologies Corp.", :class => 'img-fluid') %>					
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6"><!-- Client10 -->
				<a href="https://www.maybelline.com/" target="_blank">
					<%= image_tag("Rocket_Elevator_Assets/Customer/customer10.png", :alt => "Maybelline New York", :class => 'img-fluid') %>					
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6"><!-- Client11 -->
				<a href="https://www.nintendo.com/" target="_blank">
					<%= image_tag("Rocket_Elevator_Assets/Customer/customer11.png", :alt => "The Nintendo Entertainment System (NES)", :class => 'img-fluid') %>					
				</a>
			</li>
			<li class="col-md-3 col-sm-3 col-6"><!-- Client12 -->
				<a href="https://www.dell.com/" target="_blank">
					<%= image_tag("Rocket_Elevator_Assets/Customer/customer12.png", :alt => "Dell Inc.", :class => 'img-fluid') %>					
				</a>
			</li>
		</ul>

	</div>
</section>
<!-- /Clients -->

<!-- CONTACT -->
<section id="contact">
	<div class="container">

		<header class="text-center mb-60">
			<h1>Contact Us</h1>
			<p class="lead font-lato">Thank you for your interest in learning more about Rocket Elevators.<br>
				We welcome your comments and questions.</p>
			<hr />
		</header>


		<div class="row">

			<!-- FORM -->
			<div class="col-md-8 col-sm-8">

				<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>						
				

				<!-- Alert Success -->
				<div id="alert_success" class="alert alert-success mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>Thank You!</strong> Your message successfully sent!
				</div><!-- /Alert Success -->


				<!-- Alert Failed -->
				<div id="alert_failed" class="alert alert-danger mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>[SMTP] Error!</strong> Internal server error!
				</div><!-- /Alert Failed -->


				<!-- Alert Mandatory -->
				<div id="alert_mandatory" class="alert alert-danger mb-30">
					<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
					<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
				</div><!-- /Alert Mandatory -->


				<form action="/leads" method="post" id="form-contact" enctype="multipart/form-data">
					<fieldset>
					   <input type="hidden" name="action" value="contact_send" />

						<div class="row">
								<div class="col-md-4">
									<label for="contact:name">Full Name *</label>
									<input required type="text" value="" class="form-control" name="leads[full_name_of_contact]" id="contact:name">
								</div>
								<div class="col-md-4">
									<label for="contact:email">E-mail Address *</label>
									<input required type="email" value="" required placeholder="exemple@company.com" class="form-control" name="leads[email]" id="contact:email">
								</div>
								<div class="col-md-4">
									<label for="contact:phone">Phone *</label>
									<input type="tel" value="" required placeholder="(555)555-5555" class="form-control" name="leads[phone]" id="contact:phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}|[0-9]{3} [0-9]{3} [0-9]{4}|[0-9]{3}[0-9]{3}[0-9]{4}">
								</div>
								<div class="col-md-4">
									<label for="contact:enterprise_name">Enterprise Name *</label>
									<input required type="text" value="" class="form-control" name="leads[company_name]" id="contact:enterprise_name">
								</div>
								<div class="col-md-4">
									<label for="contact:project_name">Project Name *</label>
									<input required type="text" value="" class="form-control" name="leads[project_name]" id="contact:project_name">
								</div>
						</div>
						<div class="row">
								<div class="col-md-8">
									<label for="contact:description">Project Description *</label>
									<input required type="text" value="" class="form-control" name="leads[project_description]" id="contact:description">
								</div>
								<div class="col-md-4">
									<label for="contact_department">Department</label>
									<select class="form-control pointer" name="leads[department_in_charge_of_elevators]">
										<option value="Sales">Sales</option>
										<option value="Support">Support</option>
										<option value="Administration">Administration</option>
									</select>
								</div>
						</div>
						<div class="row">
								<div class="col-md-12">
									<label for="contact:message">Message *</label>
									<textarea required maxlength="5000" rows="8" class="form-control" name="leads[message]" id="contact:message"></textarea>
								</div>
						</div>
						<div class="row" id="aFile_upload">
								<div class="col-md-12">
									<label for="contact:attachment">File Attachment</label>
									<!-- custom file upload -->
									<input class="custom-file-upload" type="file" name="attachment" id="contact:attachment" data-btn-text="Select a File" accept=".zip,.pdf,.jpg,.png,.txt" />
									<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png/txt)</small>
									
								</div>
						</div>

					</fieldset>

					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary"><i class="fa fa-check" ></i> SEND MESSAGE</button>
							<%# <script>
								function sendingAlert(onclick="sendingAlert()") {
									alert("Thank you for sending us a message. We will be back to you shortly!");
								}
							</script> %>
						</div>
					</div>
				</form>

			</div>
			<!-- /FORM -->


			<!-- INFO -->
			<div class="col-md-4 col-sm-4">

				<h2>Visit Us</h2>
				<div id="map2" class="h-300"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2729.0431801755108!2d-71.28188348416968!3d46.84283987914146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb897d0e1cafe3f%3A0x9863b2d992c71670!2sCodeBoxx!5e0!3m2!1sen!2sus!4v1613771227185!5m2!1sen!2sus" width="290" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>

				<hr />

				<p>
					<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 418-725 Boulevard Lebourgneuf,<br> Québec, QC, G2J 0C4, Canada</span>
					<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:(418)555-1234">(418) 555-1234</a></span>
					<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
				</p>

			</div>
			<!-- /INFO -->

		</div>

	</div>
</section>
<!-- /CONTACT -->
