 
			<!-- PAGE HEADER -->
			<section class="parallax parallax-4" style="  background-image:url('<%= image_path('Rocket_Elevator_Assets/Residential_page/elavator1.jpg')  %>')">
				<div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>
			</section>
			<!-- /PAGE HEADER -->	

<div class="container col-5 mt-5 mb-5 text-center card card-signin my-5 card-body form-signin">
  <h2 class ="text-center">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|  %>
    <div class="field form-label-group">
    <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="field form-label-group">
      <%= f.label :password %><br/>
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field ">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions  ">
      <%= f.submit "Log in", class:"btn-lg btn-primary btn-block text-uppercase " %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
