<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<script>var plugin_path = '/assets/plugins/';</script>
	
  </head>

  <body>
    <!-- wrapper -->
		
    <%= render 'parts/header' %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %> 
        
    <%= yield %>
		
    <%= render 'parts/footer' %>

	<!-- /wrapper -->
    
  </body>
</html>
